* {
  font-family: Arial, sans-serif;
  text-decoration: none;
}

body {
  margin: 0em;
  margin: 0px;
  background-color: gray;
}

#searchDiv {
  background-image: url("../images/beach.jpg");
  color: rgb(100, 255, 100);
  text-shadow: 1px 1px black;
  margin: 0em;
  padding: 0.5em;
  padding-top: 0.1em;
}

#topNavBar {
  display: grid;
  background-color: darkblue;
  color: rgb(100, 255, 100);
  margin: 0em;
}
#topNavBar > h1 {
  text-shadow: 1px 1px black;
  margin-left: 0.5em;
}
#topNavBar * {
  color: rgb(150, 220, 255);
}

#house {
  margin: 1em;
  color: white;
  background-color: blue;
  border-radius: 15px;
  padding: 15px;
}

#RegisterForm {
  background-image: url("../images/house.jpg");
  background-color: rgb(150, 220, 255);
  height: 300px;
}

#RegisterForm label {
  color: white;
  font-weight: 700;
  height: 38;
}

#LoginForm {
  background-color: rgb(150, 220, 255);
}

#LoginForm label {
  color: white;
  font-weight: 700;
}

#Profile {
  display: grid;
  background-image: url("../images/house2.jpg");
  height: 725px;
}

#Profile > * {
  padding: 20px;
  max-width: 350px;
}

#Profile > #info {
  min-width: 350px;
}

#Profile > #menu {
  width: 180px;
  grid-column: 3;
  padding: 20px;
  float: right;
  background-color: rgb(30, 150, 30);
}
#Profile > #menu * {
  font-weight: bold;
  font-size: 28;
  margin-bottom: 1em;
  color: white;
}

#Profile > #menu > a {
  float: left;
}

#Profile img {
  width: 250px;
  grid-column: 2;
}

#Profile #centerdiv a {
  font-weight: bold;
}

h2 {
  color: white;
}

#error {
  color: red;
  text-align: center;
}

/* Slideshow container */
.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slide {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.currentSlide {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
