

body{
	display:grid;
	width: 60em;
	margin-left: auto;
	margin-right: auto;
}

#topNavBar > h1{
	grid-column-start: 1;
	grid-column-end: 6; 
	grid-row-start: 1;
	grid-row-end: 1;
}

#topNavBar > div{
	grid-column-start: 7;
	grid-column-end: 8; 
	grid-row-start: 1;
	grid-row-end: 1;
}

