body{
	margin:0em;
}
#searchDiv{
	background-image: url("resort_background.jpg");
	color: white;
	text-shadow: 1px 1px black;
	margin: 0em;
	padding: 0em;
	/*position: absolute;*/
}

#topNavBar{
	background-color: white;
	color: blue;
	text-decoration: none;
	margin:0em;
}

